@media (max-width: 1024px) {
    .navigation {
        display: none;
    }

    .head {
        padding: 29px 30px 0px 30px;
    }

    .burger {
        display: flex;

    }

    .logo {
        font-size: 40px;
    }

    .contact {
        font-size: 35px;
    }

    .min-box {
        padding-left: 30px;
        padding-right: 30px;
    }

    .menu-link {
        font-size: 30px;
    }

    .contact-block {
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .head-menu {
        margin-bottom: 40px;

    }

    .map {
        margin-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

  
}

@media (max-width: 480px) {
    .head {
        align-items: center;

    }

    .burger {
        font-size: 80px;
    }

    .contact-block {
        margin-top: 25px;
    }

    .head-menu {
        margin-bottom: 20px;
    }

    .map {
        margin-top: 15px;
        padding-left: 0px;
        padding-right: 0px;
    }
}