/* ------ტექნიკური კლასები------- */

.wrapper {
    overflow: hidden;
}

.box {
    max-width: 1088px;
    margin: 0 auto;
    padding: 0 15px;
}

/* -----HEADER---- */

.logo {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.header {
    width: 100%;
    background: rgba(0, 0, 0, 0.6)url("/images/cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;

}

.head {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding-top: 29px;
}

.burger {
    font-size: 40px;
    display: none;
    color: #fff;
}

.nav-list {
    width: 554px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.min-box {
    display: flex;
    flex-direction: column;
}

.contact-block {
    display: flex;
    margin-top: 120px;
    margin-bottom: 14px;
}

.contact {
    font-family: 'Poppins';
    font-size: 42px;
    font-weight: 900;
    color: #fff;
}

.divider {
    height: 19px;
    width: px;
    background-color: #fff;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}

.head-menu {
    display: flex;
    justify-content: space-between;
    width: 45px;
    margin-bottom: 85px;
}

.menulink {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.map {
    margin-top: 50px;
    max-width: 1088px;

}

.map-box {
    width: 100%;
    height: auto;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px 0 70px 0;
}

.title1 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 14px;
    color: #5863F8;
}

.subtitle1 {
    max-width: 565px;
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 42px;
    color: black;
}

.forms {
    display: flex;
    align-content: center;
}

.text-form {
    max-width: 720px;
    width: 100%;
    height: 288px;
    resize: none;
    background-color: #F8F8F8;
    border: 2px;
    border-color: #E8E8E8;
    font-family: 'Poppins';
    font-size: 13px;
    color: #CECECE;
    font-weight: 400;
    padding-top: 20px;
    padding-left: 20px;

}

.form-block {
    display: flex;
    flex-direction: column;
    max-width: 352px;
    width: 100%;
    margin-left: 16px;
}

.form-input {
    width: 100%;
    height: 60px;
    margin-bottom: 16px;
    background-color: #F8F8F8;
    border: 2px;
    color: #E8E8E8;
    font-family: 'Poppins';
    font-size: 13px;
    color: #CECECE;
    font-weight: 400;
    padding-left: 20px;

}


.button {
    height: 60px;
    font-family: 'Poppins';
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    border: #5863F8;
    background-color: #5863F8;

}

.icons {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-icon {
    max-width: 59px;
    padding: 22px;
    border-radius: 30px;
    background-color: #5863F8;
    color: #fff;
}

.icon-title {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}

.icon-link {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    color: #B1B1B1;
}

.images {
    display: flex;
    justify-content: space-between;
}

image {
    max-width: 352px;
}

.img {
    width: 100%;
}

/* --------------------footer------------------------ */
.footer {
    width: 100%;
    background-color: #121212;
    padding-top: 90px;
    padding-bottom: 40px;
}


.footer-div {
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 800;
    color: #fff;
}

.footer-text1 {
    max-width: 260px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;

}

.s-media-icons {
    font-size: 20px;
}

.s-media-icons :nth-child(1) {
    color: #3B5998;

}

.s-media-icons :nth-child(2) {
    color: #55ACEE;
}

.s-media-icons :nth-child(3) {
    color: #DC4E41;
}


.footer-title2 {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 20px;

}

.footer-item {
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
}

.footer-link {
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 400;
    color: #5863F8;
    margin-left: 14px;
}

.copy-mail {
    margin-top: 54px;
    display: flex;
    justify-content: space-between;

}

.copyright {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

.email {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    color: #5863F8;
}

.name {
    color: #5863F8;
}


/* -------------------hover---------------------- */

.button:hover {
    background-color: darkblue;
}


.menulink:hover {
    color: #5863F8;
}

.logo:hover {
    color: #5863F8;
}

.nav-link:hover {
    color: #5863F8;
}

.email:hover {
    color: darkblue;
}