/* ------ტექნიკური კლასები------- */

.wrapper {
    overflow: hidden;
}

.box {
    max-width: 1088px;
    margin: 0 auto;
    padding: 0 15px;
}

/* -----HEADER---- */

.logo {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.header {
    width: 100%;
    background: rgba(0, 0, 0, 0.5)url("/images/cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;

}

.head {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding-top: 29px;
}

.burger {
    font-size: 40px;
    display: none;
    color: #fff;
}

.nav-list {
    width: 554px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.min-box {
    display: flex;
    flex-direction: column;
}

.contact-block {
    display: flex;
    margin-top: 120px;
    margin-bottom: 14px;
}

.contact {
    font-family: 'Poppins';
    font-size: 42px;
    font-weight: 900;
    color: #fff;
}

.divider {
    height: 19px;
    width: px;
    background-color: #fff;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}

.head-menu {
    display: flex;
    justify-content: space-between;
    width: 45px;
    margin-bottom: 85px;
}

.menulink {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

/* -------------------hover---------------------- */


.menulink:hover {
    color: #5863F8;
}

.logo:hover {
    color: #5863F8;
}

.nav-link:hover {
    color: #5863F8;
}